body{
    margin:0;
    background-color: aliceblue;
}
header {
    width:100vw;
    height:15vh;
    position:absolute;
}
main{
    width:100vw;
    height:100vh;
    position:absolute;
}